.btn .bg-block{
  background-color: #2C3C90;
  color: white;
}
.btn:hover{
  background-color: #2C3C90;
  color: rgb(233, 235, 243);
}
.row h5{
  /*position: absolute;
  width: 111px;
  height: 36px;
  left: 192px;
  top: 251px;*/
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  
  /* Color/Primary/Brand */
  
  color: #2C3C90;
}

.row h4{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  
  /* Color/Primary/Shade */
  
  color: #171F4A;

}

div .row {
  display: flex;
  justify-content: center;
}

.card {
    z-index: 0;
    /*background-color: #ECEFF1;*/
    padding-bottom: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
   /* border-radius: 100%;*/
}

.top {
    padding-top: 40px;
    padding-left: 13% !important;
    padding-right: 13% !important
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 10px
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 15px;
    color: rgb(4, 9, 39);
}

#progressbar .step0:before {
    font-family: "Font Awesome 5 Free";
    content: "\f10c";
    color: #ffffff;
}

#progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    background: #C5CAE9;
    border-radius: 50%;
    margin: auto;
    padding: 0px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 6px;
    background: #C5CAE9;
    position: absolute;
    left: 0;
    top: 16px;
    z-index: -1
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%
}

#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after {
    left: -50%
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #2C3C90;
}

#progressbar li.active:before {
    font-family: FontAwesome;
    content: "\f00c";
}



.icon {
    width: 60px;
    height: 60px;
    margin-right: 15px
}

.icon-content {
    padding-bottom: 20px
}

@media screen and (max-width: 992px) {
    .icon-content {
        width: 50%
    }
}

div.bg{
  
    height: 400px;
    background-image: linear-gradient(103.3deg, #2C3C90 8.86%, #94248C 87.19%);
}

div.block1{
position:relative;
top:150px;
width:340px;
left:100px;
    
}


h2.refer{
    color:#ffffff;
    font-size:44px;
    font-weight:bold;
    font-family: 'Poppins', sans-serif;
}

h4{
  font-family: 'Poppins', sans-serif;
}

h2{
  font-family: 'Poppins', sans-serif;
}

h3{
  font-family: 'Poppins',sans-serif;
}

h5{
  font-family:'Poppins',sans-serif;
}
div.img{
  position:relative;
top:500px;
left:0px;
    
}

p.text{
    color:#ffffff;
}

p{
  font-family: 'Roboto', sans-serif;
}

div.block2{
position:relative;
top:150px;
width:400px;
left:-120px;
background-color:#ffffff;
padding:20px;
border-radius:10px;

   
}


input.cus{
background: #F1F3F4;
border-radius: 4px;
}
select.cus{
background: #F1F3F4;    
}
a.terms{
    color:#2C3C90;
    font-weight:bold;
}

div.block3{
position:relative;
top:450px;
width:340px;
left:-20%;
    
}


div.footer{
  width:100%; height:90px;
   position:relative; 
    background:#2C3C90;
    bottom:-35px;
    
 }

 a.logo{
  position:relative;
  left:90px;
}


/* for mobile screen sixze*/
@media  screen and (max-width: 600px) {
div.block1{
top:15%;
width:70%;
left:14%;
   
}

} 

@media  screen and (max-width: 600px) {
div.bg{
  
  height: 350px;
  background-image: linear-gradient(103.3deg, #2C3C90 8.86%, #94248C 87.19%);
}
}

@media  screen and (max-width: 600px) {
  a.logo{
  position:relative;
  
}

} 

p.foottext{
  color:#fff; margin-left:80px; font-size:14px;
  bottom: -15px;
    
 }
 body{
   background-color:#F4F4F5;;
 }

/* for mobile screen sixze*/
@media  screen and (max-width: 600px) {
  html,body {
    max-width: 100%;
    overflow-x: hidden;
    max-height:30%;
}

}

@media  screen and (max-width: 600px) {
h2.refer{
font-size:25px;
text-align:center;
    
}
} 

@media  screen and (max-width: 600px) {
p.text{
font-size:15px;
text-align:center;
    
}
} 
@media  screen and (max-width: 600px) {
 div.block2{
position:relative;
top:30%;
width:90%;
left:-5%;
background-color:#ffffff;
padding:15px;
border-radius:10px;
    
}
}
@media  screen and (max-width: 600px) {
 div.block3{
top:38%;
margin-top:5%;
width:70%;
left:10%;
text-align:center;
    
}
}

@media  screen and (max-width: 600px) {
p.whoarewe{
  text-align:center;
}
}

@media  screen and (max-width: 600px) {
div.img{
position:relative;
left:5%;
top:44%;
    
}
}

@media  screen and (max-width: 600px) {
img.illustration{
width:300px;
   
}   
}


@media  screen and (max-width: 600px) {
div.steps{
position:relative;
left:35%;
width:80%;
   
}   
}

@media  screen and (max-width: 600px) {
  div.footer{
     position:relative;
     bottom:-23px;
     height:90px;

    
 }
}

@media  screen and (max-width: 600px) {
  img.footlogo{

   display:none;

    
 }
}


@media  screen and (max-width: 600px) {
  p.foottext{
    position:absolute;
   margin-left:14%;
   text-align:center;

    
 }
}



/* layout for tabs and mini laptop*/
@media  screen and (max-width: 1100px) and (min-width: 601px) {
  div.block1{
top:25px;
width:270px;
left:0%;
   
}   
}

@media  screen and (max-width: 1100px) and (min-width: 601px)  {
 div.block2{
position:relative;
top:40%;
width:300px;
left:-10%;
background-color:#ffffff;
padding:15px;
border-radius:10px;
    
}
}
@media  screen and (max-width: 1100px) and (min-width: 601px) {
 div.block3{
position:relative;
top:60%;
margin-top:10px;
width:300px;
left:0%;
padding:15px;
    
}
}


@media  screen and (max-width: 1100px) and (min-width: 601px) {
div.img{
  position:relative;
  top:60%;
  left:-8px;    
}
}

@media  screen and (max-width: 1100px) and (min-width: 601px) {
div.steps{
position:relative;
left:30%;
width:100%;
   
}   
}


@media  screen and (max-width: 1100px) and (min-width: 601px) {
  div.footer{
  width:100%; height:90px;
   position:relative;   bottom:-23px;
    background:#2C3C90;
    
 }
}



@media  screen and (max-width: 1100px) and (min-width: 601px) {
  p.foottext{

   margin-left:-3px;
   position:absolute; top:20%; left:-3%;

    
 }
}
